@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}

body, html {
    height: 100%;
}

header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        gap: 4.36px;
        font-size: 19.85px;
        font-weight: 600;
        color: #C92071;
        text-decoration: none;
    }

    img {
        display: flex;
        text-align: left;
        justify-content: left;
    }
}

main {
    padding: 63px 0 82px;
    background: linear-gradient(#b5b6f2, #EFEFFF);

    form {
        width: 315px;
        margin: 0 auto;
        background: #FFFFFF;
        padding: 30px;
        border-radius: 4px;

        div {
            padding: 15px;
        }

        .title-box {
            h1 {
                font-size: 22px;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 2px;
                text-align: center;
                color: #1F1F1F;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.25px;
                text-align: center;
                color: #474747;

                a {
                    color: inherit;
                }
            }
        }

        .input-box {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                font-weight: 700;
                letter-spacing: 0.75px;
                line-height: 24px;
                font-size: 12px;
                color: #474747;
            }

            input{
                height: 60px;
                border: none;
                border-radius: 8px;
                outline-color: #C92071;
                background-color: (rgba(71, 71, 71, 0.04));
                padding: 0 12px;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.75px;

                &::placeholder{
                    color: rgba(102, 102, 102, 0.6);
                }
            }
        }
        
        button{
            height: 48px;
            border: none;
            border-radius: 8px;
            background-color: #C92071;
            display: flex;
            color: #F5F5F5;
            font-weight: 700;
            letter-spacing: 0.75px;
            font-size: 16px;
            line-height: 24px;
            width: 255px;
            height: 48px;
            display: block;
            align-self: auto;
            margin-left: -12px;

            &::active{
                background-color: #991956;
            }

            .else-box{
                height: 66px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin: 0 auto;

                small{
                    color: #474747;
                    font-weight: 500;
                    letter-spacing: 0.25px;
                    line-height: 22px;
                    font-size: 14px;
                }

                ul{
                    display: flex;
                    justify-content: center;
                    gap: 24px;
                }
            }
        }
    }
}